* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0;
 	background: #2C3E50;
	color: #000;
 	font-family: Calibri, sans-serif;
	font-size: 100%;
	line-height: 1.5em;
}
#container {
	max-width: 800px;
	margin: 30px auto;
    background: #f7ece2;
    padding: 3em;
}
h1 {
    text-align: center;
    margin: 0;
	line-height: 140%;
	font-family: helvetica, sans-serif;
}
#socks {
    width: 90%;
    margin: auto;
}
label {
    display: block;
    padding-top: 0.7em;
}
select {
   background: #fff;
   border: 1px solid #ccc;
   font-size: 1em;
   height: 2em;
   padding: 0.1em;
   /* too much padding and the options won't show in IE */
   width: 100%;
}
input {
    width: 100%;
    font-family: monospace;
    font-size: 1.5em;
    padding: 5px;
}
.middle {
	text-align: center;
}
.announce {
	background: #f2f2f2;
	padding: 20px 0;
	text-align: center;
	width: 90%;
	margin: 2em auto;
	border: 1px solid #cc90c0;
}

/* links */

a {
	color: #000;
}
a:hover {
	color: #2EE5E8;
	text-decoration: none;
}

/* special classes */

.smallform p {
	text-align: center;
}
.smallform input[type='radio'] {
	display: inline;
	width: auto;
}
.smallform label {
	display: inline;
}

/* submit button styling insanity
   http://cssdemos.tupence.co.uk/button-styling.htm
   */

input[type='submit'] {
	cursor: pointer;
	width: auto;
	padding: 5px 25px;
	background: #8c0672;
	border: 1px solid #33842a;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-shadow: 0 0 4px rgba(0,0,0, .75);
	color: #f3f3f3;
	font-family: Calibri, sans-serif;
	font-size: 1.2em;
	margin-top: 1em;
}
input[type='submit']:hover,
input[type='submit']:focus {
	background: #690454;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
	box-shadow: 0 0 1px rgba(0,0,0, .75);
	outline: none;
}
.smallform input[type='submit'] {
	display: block;
	margin: auto;
}

/* media queries */

@media screen and ( max-width: 700px ) {
	body { background: #8AA8B0; }
	#container {
		margin: 10px auto;
		padding: 10px;
	}
	#socks { width: 100%; }
}
